.voitures-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.voiture-item {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.voiture-item img {
    max-width: 120px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
}

.voiture-item h2,
.voiture-item p {
    margin: 0;
}

.voiture-item p {
    margin-left: auto;
}

.voiture-item button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.voiture-item button:hover {
    background-color: #cc4d39;
}