* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.home-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.header h1 {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

.hero-section {
    background-image: url('https://media.gqmagazine.fr/photos/653a6785b405923c6a3fe4ef/master/pass/SSC%20Tuatara.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

.cta-button {
    display: inline-block;
    background-color: #FF4500;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
}

.featured-section {
    margin-top: 40px;
}

.featured-cars {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.featured-car {
    border: 1px solid #ddd;
    padding: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.featured-car img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}

.car-details {
    text-align: center;
}

.about-section {
    margin-top: 40px;
}

.footer {
    margin-top: 40px;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}