* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.home-page {
    margin: 0 auto;
    max-height: 1200px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0f0f;
    color: white;
    padding: 10px 20px;
}

.header h1 {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

.navbar ul li a:hover {
    background-color: #fdfdfd;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: white;
}

.hero-section {
    background-image: url('../images/backgrnd.png');
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

.cta-button {
    display: inline-block;
    background-color: #ffffff;
    color: #0f0f0f;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
}

.featured-section {
    margin-top: 40px;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content div {
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: #ddd;
}

.dropdown-content label {
    margin-left: 5px;
}

.featured-cars {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.featured-car {
    border: 1px solid #ddd;
    padding: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.featured-car img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}

.car-details {
    text-align: center;
}

.about-section {
    margin-top: 40px;
}

.footer {
    margin-top: 40px;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}