* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.home-page {
    margin: 0 auto;
    max-height: 1200px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fdfdfd;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #333333;
}

.hero-section {
    background-image: url('../images/backgrnd.png');
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

.cta-button {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #555;
}

.featured-section {
    margin-top: 30px;
}

.dropdown-toggle {
    background-color: #333 !important;
    border: none !important;
}

.dropdown-toggle:focus {
    background-color: #555 !important;
}

.dropdown-toggle:hover {
    background-color: #555 !important;
}

.dropdown-menu {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
}

.dropdown-content div {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-content div:hover {
    background-color: #f2f2f2;
}

.dropdown-content label {
    margin-left: 5px;
}

.featured-cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.featured-car {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 200px;
    position: relative;
}

.featured-car:hover {
    transform: translateY(-5px);
}

.plus-icon-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.plus-button {
    border-color: transparent;
    border-radius: 5px;
    background-color: transparent;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.car-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.car-details {
    text-align: center;
}

.about-section {
    margin-top: 40px;
}

.featured-section {
    padding: 20px;
}

.featured-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.featured-section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.featured-section p {
    margin-bottom: 5px;
}

.footer {
    margin-top: 40px;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}